@import "tailwindcss";

@theme {
  --color-text: #f8f9f9;
  --color-text-muted: #a1a1aa;
  --color-background: #0a0b13;
  --color-muted: #14121d;
  --color-border: #444444;
  --color-primary: #90acdd;
  --color-secondary: #832969;
  --color-accent: #1da0a0;
  --color-default-fill: #d9d9d9;

  --font-rubik: var(--font-rubik);
  --font-days-one: var(--font-days-one);
}
* {
  @apply font-rubik font-medium;
}
body {
  @apply bg-background text-text;
}
@utility no-ring {
  @apply outline-none ring-0 ring-offset-0 focus:ring-0 focus:ring-offset-0 focus-visible:ring-offset-0;
}
@utility input-ring {
  @apply h-8 rounded-none border-none  bg-transparent outline-none ring-offset-0 focus:ring-1  focus:ring-accent focus:ring-offset-0 focus-visible:ring-offset-0;
}
@utility right-menu-context {
  @apply flex w-80 flex-col gap-y-1 border-none bg-muted py-4 text-text;
}
@utility right-menu-item {
  @apply flex justify-between px-3 py-2 hover:bg-muted;
}
@utility avatar {
  @apply flex place-content-center relative border-[3px]  border-text-muted w-14 h-14 rounded-full bg-muted -ml-3;
  &::before {
    content: attr(data-tooltip);
    @apply absolute top-full opacity-0 px-[10px] py-[5px] text-text text-sm rounded-lg mt-2.5 bg-muted whitespace-nowrap
    transition-opacity duration-150 ease-in z-50;
  }
  &:hover::before {
    @apply opacity-100;
  }
  .avatar-picture {
    @apply object-cover rounded-full w-full h-full;
  }
}
@utility avatar-more {
  @apply border-4 rounded-full border-text-muted bg-muted min-w-14 h-14 w-14 -ml-3 flex justify-center items-center text-text;
}

/* Keyframes */
/* className="data-[state=open]:animate-in data-[state=closed]:animate-out
        " */

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes animate-out {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes contextMenuOpen {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes contextMenuClose {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.95) translateY(-2px);
  }
}
@keyframes slide-from-left {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@utility context-menu-open {
  animation: contextMenuOpen 0.15s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
@utility context-menu-close {
  animation: contextMenuClose 0.1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
@utility animate-in {
  animation: animate-in 0.3s ease-out forwards, fade-in 0.3s ease-out forwards;
}
@utility animate-out {
  animation: animate-out 0.3s ease-in forwards, fade-out 0.3s ease-in forwards;
}
@utility slide-from-left {
  animation: slide-from-left 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@layer components {
  .input-container {
    @apply flex flex-row gap-1 w-full mb-2 bg-primary/20 p-1 rounded-md border-2 border-transparent has-focus-within:bg-primary/30 has-focus:border-accent
    has-disabled:pointer-events-none has-disabled:opacity-50;
  }
  .input-container.select {
    @apply focus:border-accent focus:bg-primary/30 disabled:pointer-events-none disabled:opacity-50;
  }

  .input-field {
    @apply w-full bg-transparent text-xs outline-none rounded px-1 no-ring;
  }
  /* Chrome, Safari, Edge, Opera (WebKit/Blink) */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* optional */
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield; /* modern fallback */
  }
  .toggle-group-item {
    @apply flex size-[28px] items-center justify-center   leading-4 first:rounded-l last:rounded-r hover:bg-primary/50 focus:z-10   data-[state=on]:bg-primary no-ring cursor-pointer data-[state=on]:text-background;
  }
  .context-menu-style {
    @apply backdrop-blur-xl bg-muted/70 border border-primary/30 rounded-md shadow-md overflow-hidden relative z-50;
  }
  .context-menu-item {
    @apply flex h-fit justify-between gap-10 rounded-md px-3.5 py-2 focus:border-none no-ring cursor-pointer hover:bg-primary/50 text-sm text-text/80 hover:text-text transition-colors duration-300 ease-in-out;
  }
}
